*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container{
  max-width: 1000px;
  margin: 0px auto;
}
button{
  padding: 5px;
  outline: none;
  border: none;
}
.blue-btn{
  background-color:teal;
  color: #fff;
}
.white-btn{
  background-color: beige;
}
input{
  padding: .5rem;
  outline: none;
}
.teal{
  color: teal;
}
.title{
  display: flex;
  align-items: center;
}
.red{
  background-color: red;
  color: #fff;
}
.px-3{
  padding-block: .75rem;
}
.d-flex{
  display: flex;
}
.bg-teal{
  background-color: teal;
}
.mb-4{
  margin-bottom: 1rem;
}
.gap-3{
  gap: .75rem;
}
.error{
  border: 1px solid red;
}